@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-landing {
  background-image: url('/landingpage/background.svg');
  background-size: cover;
  background-position: center;
}
.bg-ambassador {
  background-image: url('/landingpage/componentimg.svg');
  background-size: cover;
  background-position: center;
}
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
.overflow-x-auto {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
/* Add in global styles.css if needed */
.toggle-switch {
  @apply appearance-none w-10 h-5 bg-gray-300 rounded-full relative transition;
}

.toggle-switch:checked {
  @apply bg-blue-600;
}

.toggle-switch::before {
  content: "";
  @apply absolute top-0.5 left-0.5 w-4 h-4 bg-white rounded-full transition;
}

.toggle-switch:checked::before {
  @apply translate-x-5;
}
